.container {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    grid-gap: 2px;
    margin: 0;
    width: 80%;
}


/* Grid cell styles */
.cell {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid darkgray;
    text-align: center;
    line-height: 20px;
    font-size: 10px;

}