.container {
    position: absolute;
    top: 14em;
    right: 2em;
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    grid-gap: 2px;
    margin: 0;
    width: max-content;
    justify-content: end;
}


/* Grid cell styles */
.cell {
    width: 20px;
    height: 20px;
    /* background-color: lightgray; */
    border: 1px solid darkgray;
    text-align: center;
    line-height: 20px;
    font-size: 10px;

}

.colorIdentify {
    position: absolute;
    right: 13px;
    top: 64px;
    border: 2px solid;
    padding: 0;
    width: 200px;
}

.colorIdentify li {
    display: flex;
    margin: 0 10px;
    justify-content: left;
    align-items: baseline;
    text-align: left;
    font-size: 12px;
}

.clsName {
    width: 10px;
    height: 10px;
    margin: 3px 6px;
}