.passenger-list .MuiTableCell-head {
    padding-left: 9px;
    padding-right: 9px;
}

.passenger-list {
    width: 80%;
    margin-left: 1em;
}

.passenger-list .MuiPaper-root {

    margin: 0 auto;
}